<!DOCTYPE html>
<html lang="es">
<!-- Ac치 va el include('partials/head') -->
<%- include('partials/head') %>

<body>
    <!-- Ac치 va el include('partials/headerNavbar') -->
    <%- include('partials/headerNavbar') %>
    <div class="kit-title">
        <h1>Arm치 tu kit</h1>
    </div>
    <section class="arma-tu-kit">
        <h2 class="best-sellers">Productos destacados:</h2>

        <!-- Mates -->
        <div>
            <h2>Mates</h2>
        </div>
        <div class="arma-tu-kit__container">
            <% products.forEach(product => { %>
            <% if (product.category == "mate") { %>
            <div class="arma-tu-kit-item">
                <a href="../products/detail/<%= product.id %>">
                    <img class="arma-tu-kit-item__img" src="../images/mate1.jpg" alt="">
                    <div class="arma-tu-kit-item__details">
                        <p class="arma-tu-kit-item__details--title"><%= product.name %></p>
                        <p class="arma-tu-kit-item__details--subtitle"><%= product.price %></p>
                    </div>
                </a>
            </div>
            <% } %>
            <% }) %>
        </div>

        <!-- Bombillas -->
        <div>
            <h2>Bombillas</h2>
        </div>
        <div class="arma-tu-kit__container">
            <% products.forEach(product => { %>
            <% if (product.category == "bombilla") { %>
            <div class="arma-tu-kit-item">
                <a href="../products/detail/<%= product.id %>">
                    <img class="arma-tu-kit-item__img" src="../images/bombilla1.jpg" alt="">
                    <div class="arma-tu-kit-item__details">
                        <p class="arma-tu-kit-item__details--title"><%= product.name %> </p>
                        <p class="arma-tu-kit-item__details--subtitle"><%= product.price %> </p>
                    </div>
                </a>
            </div>
            <% } %>
            <% }) %>
        </div>

        <!-- Termos -->
        <div>
            <h2>Termos</h2>
        </div>
        <div class="arma-tu-kit__container">
            <% products.forEach(product => { %>
                <% if (product.category == "termo") { %>
            <div class="arma-tu-kit-item">
                <a href="../products/detail/<%= product.id %>">
                    <img class="arma-tu-kit-item__img" src="../images/termo-stanley1.jpg" alt="">
                    <div class="arma-tu-kit-item__details">
                        <p class="arma-tu-kit-item__details--title"><%= product.name %></p>
                        <p class="arma-tu-kit-item__details--subtitle"><%= product.price %></p>
                    </div>
                </a>
            </div>
            <% } %>
            <% }) %>
        </div>

        <!-- Bolsos -->
        <div>
            <h2>Bolsos</h2>
        </div>
        <div class="arma-tu-kit__container">
            <% products.forEach(product => { %>
                <% if (product.category == "bolso") { %>
            <div class="arma-tu-kit-item">
                <a href="../products/detail/<%= product.id %>">
                    <img class="arma-tu-kit-item__img" src="../images/bolso1.jpg" alt="">
                    <div class="arma-tu-kit-item__details">
                        <p class="arma-tu-kit-item__details--title"><%= product.name %></p>
                        <p class="arma-tu-kit-item__details--subtitle"><%= product.price %></p>
                    </div>
                </a>
            </div>
            <% } %>
            <% }) %>
        </div>

        <div class="finish-kit">
        </div>
    </section>
    <!-- Ac치 va el include('partials/footer') -->
    <%- include('partials/footer') %>
</body>

</html>