<!DOCTYPE html>
<html lang="es">
<!-- Acá va el include('partials/head') -->
<%- include('partials/head') %>
<body>
  <!-- Acá va el include('partials/headerNavbar') -->
  <%- include('partials/headerNavbar') %>
  <section class="container-productAdd">
    <div>
      <h2 class="productAdd-title">Cargar un producto</h2>
    </div>
    <form class="form-productAdd" action="/products/add" method="POST" enctype="multipart/form-data">
      <div class="cuerpo-productAdd">
        <div class="left-body-productAdd">
          <div class="product-name-productAdd">
            <label for="name">Nombre del producto</label>
            <br>
            <input type="text" id="name" name="name" placeholder="Ej: Mate Stanley">
          </div>
          <div class="product-price-productAdd">
            <label for="price">Precio</label>
            <br>
            <input type="number" id="price" name="price" placeholder="Ej: 2000">
          </div>
        </div>
        <div class="right-body-productAdd">
          <div class="product-category-productAdd">
            <label for="category">Categoría</label>
            <br>
            <select name="id_category" id="">
              <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"><%= categoria.name %> </option>
               <% }) %>
            </select>
          </div>
          <div class="product-discount-productAdd">
            <label for="discount">Descuento</label>
            <br>
            <input type="number" id="discount" name="discount" placeholder="Ej: 20">
          </div>
        </div>
        <div class="product-category-productAdd">
          <label for="category">Marca</label>
          <br>
          <select name="id_brand" id="">
            <% marcas.forEach(marca => { %>
              <option value="<%= marca.id %>"><%= marca.name %> </option>
             <% }) %>
          </select>
        </div>
          <div class="product__image--productAdd">
            <label for="image">Imágenes</label>
            <br>
            <input type="file" id="image" name="image">
          </div>
          <div class="product-description-productAdd">
            <label for="description">Descripción</label>
            <br>
            <textarea id="description" name="description" placeholder="Breve descripcion del producto" cols=30
              rows=5></textarea>
          </div>
          <div class="product__button--productAdd">
            <button class="store-btn-productAdd">Guardar producto</button>
          </div>
    </form>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</body>

</html>