<!DOCTYPE html>
<html lang="es">
<!-- Acá va el include('partials/head') -->
<%- include('partials/head') %>

<body>
    <div class="container__register">
        <header>
            <a href="../">
                <img class="img__register" src="../../images/almamate.png" alt="Logo de Alma-Mate">
            </a>
        </header>
        <section class="signup__register">
            <section class="signup__register--container">
                <h2>Editando a <%= userFound.name %> </h2>
                <form class="signup__register--form" action="/users/edit/<%= userFound.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <input id="name" name="name" type="text" value="<%= userFound.name %> ">
                    <input name="avatar" type="file" class="custom-file-input" id="customFile">
                    <button type="submit" class="button--register">Guardar</button>
                </form>
            </section>
        </section>
        <!-- Acá va el include('partials/footer') -->
        <%- include('partials/footer') %>
    </div>
</body>

</html>